<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>eVTOL DASHBOARD</title>
</head>
<body>
    <div class="container">
        <div class="listcontainer">
            <div class="heading">
                <h1> eVTOL Dispatch Controller Dashboard</h1>
            </div>
            <div>
                <ul class="my-list">
                    <li>Register eVTOL</li>
                    <li>Load eVTOL with Medication</li>
                    <li>Check Loaded Medications</li>
                    <li>Check Available eVTOLs </li>
                    <li>Check eVTOL battery level</li>
                </ul>
            </div>

        </div>
       
        <div class="dashboard">
            <h2>Battery Level History</h2>
    <table id="historyTable">
        <tr>
            <th>Date</th>
            <th>Serial Number</th>
            <th>Battery Level</th>
        </tr>
    </table>
    <br>
    <h2>Events Log</h2>
    <table id="eventsTable">
        <tr>
            <th>Date</th>
            <th>Action</th>
            <th>Details</th>
        </tr>
    </table>
    </div>
    </div>
</body>
</html>